{% extends 'web_core/main.html' %}
{% load static %}

{% block content %}
<style>
    .news-content {
        margin: 25px 0;
    }

    .card {
        width: 465px;
        height: 340px;
    }

    .content-row.img {
        max-width: 432px;
        max-height: 200px;
        overflow: hidden;
    }

    .content-row img {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        object-fit: contain;
    }

    .title {
        line-height: 1;
        vertical-align: -7px;
        font-size: 18px;
        font-weight: bold;
    }
</style>
<div class="news-content">
    <div class="row news-content">
        <div class="col-md-4">
            <div class="card card-body">
                <div class="content-row img">
                    <a href="https://nhakhoaparkway.com/bieu-hien-rang-khon-moc-lech/" target="_blank">
                        <img src="{% static 'images/rang_khon.png' %}" alt="Răng khôn mọc lệch">
                    </a>
                </div> 
                <div class="content-row text"> 
                    <a href="https://nhakhoaparkway.com/bieu-hien-rang-khon-moc-lech/" 
                        target="_blank" class="title">Biểu hiện răng khôn mọc lệch</a>
                </div>
                <div class="content-row text">
                    <span class="contents">Tìm hiểu các biểu hiện của răng khôn mọc lệch, nguyên nhân và cách điều trị sớm để tránh biến chứng...</span>
                </div> 
                <div class="content-row text"> 
                    <span>Nguồn: Nha khoa Parkway</span> 
                </div> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <div class="content-row img">
                    <a href="https://tamanhhospital.vn/viem-tuy-rang/" target="_blank">
                        <img src="{% static 'images/viem-tuy-rang.png' %}" alt="Viêm tủy răng">
                    </a>
                </div> 
                <div class="content-row text"> 
                    <a href="https://tamanhhospital.vn/viem-tuy-rang/" 
                        target="_blank" class="title">Viêm tủy răng: Nguyên nhân và cách điều trị</a>
                </div>
                <div class="content-row text">
                    <span class="contents">Tìm hiểu nguyên nhân, triệu chứng và hướng dẫn điều trị viêm tủy răng hiệu quả...</span>
                </div> 
                <div class="content-row text"> 
                    <span>Nguồn: Tâm Anh Hospital</span> 
                </div> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <div class="content-row img">
                    <a href="https://tamanhhospital.vn/sau-rang/" target="_blank">
                        <img src="{% static 'images/Sau_rang.png' %}" alt="Sâu răng">
                    </a>
                </div> 
                <div class="content-row text"> 
                    <a href="https://tamanhhospital.vn/sau-rang/" 
                        target="_blank" class="title">Sâu răng: Nguyên nhân, triệu chứng và cách điều trị</a>
                </div>
                <div class="content-row text">
                    <span class="contents">Bài viết cung cấp thông tin chi tiết về các nguyên nhân, dấu hiệu và phương pháp điều trị sâu răng...</span>
                </div> 
                <div class="content-row text"> 
                    <span>Nguồn: Tâm Anh Hospital</span> 
                </div> 
            </div>
        </div>
    </div>
    <div class="row news-content">
        <div class="col-md-4">
            <div class="card card-body">
                <div class="content-row img">
                    <a href="https://nhakhoaparis.vn/dau-hieu-viem-nha-chu.html" target="_blank">
                        <img src="{% static 'images/viem-nha-chu.png' %}" alt="Viêm nha chu">
                    </a>
                </div> 
                <div class="content-row text"> 
                    <a href="https://nhakhoaparis.vn/dau-hieu-viem-nha-chu.html" 
                        target="_blank" class="title">Dấu hiệu viêm nha chu và cách điều trị</a>
                </div>
                <div class="content-row text">
                    <span class="contents">Tìm hiểu các dấu hiệu nhận biết sớm của viêm nha chu và những phương pháp điều trị hiệu quả...</span>
                </div> 
                <div class="content-row text"> 
                    <span>Nguồn: Nha Khoa Paris</span> 
                </div> 
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <div class="content-row img">
                    <a href="https://medlatec.vn/tin-tuc/viem-loi-dau-hieu-nhan-biet-va-cach-chua-tai-nha-s99-n27901" target="_blank">
                        <img src="{% static 'images/viem-loi.png' %}" alt="Viêm lợi">
                    </a>
                </div> 
                <div class="content-row text"> 
                    <a href="https://medlatec.vn/tin-tuc/viem-loi-dau-hieu-nhan-biet-va-cach-chua-tai-nha-s99-n27901" 
                        target="_blank" class="title">Viêm lợi: Dấu hiệu nhận biết và cách chữa tại nhà</a>
                </div>
                <div class="content-row text">
                    <span class="contents">Cùng tìm hiểu dấu hiệu nhận biết sớm viêm lợi và các phương pháp chữa trị hiệu quả tại nhà...</span>
                </div> 
                <div class="content-row text"> 
                    <span>Nguồn: Medlatec</span> 
                </div> 
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <div class="content-row img">
                    <a href="https://nhakhoatre.com/cam-nang/quy-trinh-nieng-rang-p17153.html" target="_blank">
                        <img src="{% static 'images/nieng-rang.png' %}" alt="Quy trình niềng răng">
                    </a>
                </div> 
                <div class="content-row text"> 
                    <a href="https://nhakhoatre.com/cam-nang/quy-trinh-nieng-rang-p17153.html" 
                        target="_blank" class="title">Quy trình niềng răng chi tiết và những điều cần biết</a>
                </div>
                <div class="content-row text">
                    <span class="contents">Tìm hiểu các bước niềng răng chi tiết từ thăm khám đến hoàn thiện cùng những lưu ý quan trọng...</span>
                </div> 
                <div class="content-row text"> 
                    <span>Nguồn: Nha Khoa Trẻ</span> 
                </div> 
            </div>
            
        </div>
    </div>
</div>
{% endblock %}